$gray-400: #eeeeee;

// utils
.flex {
  display: flex;
}

.cards {
  background-color: white;
  list-style: none;
  margin: 2rem 10rem;
  border-radius: 4px;
  padding: 0 2rem;
  &__loader {
    background-color: $gray-400;
    text-align: center;
  }
  &__item {
    cursor: pointer;
    border-bottom: 1px solid $gray-400;
    padding-bottom: 2rem;
    padding: 16px;
    &__picture {
      border-radius: 4px;
      height: 180px;
      width: 180px;
      margin: 16px;
    }
    &__info {
      text-align: left;
      width: 100%;

      &--price {
        margin: 0;
        padding-top: 32px;
        font-size: 24px;
        font-weight: 400;
      }
      &--title {
        font-size: 18px;
        padding-top: 32px;
        margin: 0;
      }
      &--shipping {
        position: absolute;
        width: 25px;
        margin: 2px 0 0 1rem;
      }
    }
    &__city {
      font-size: 12px;
      text-align: right;
      width: 16rem;
      color: #999999;
    }
  }
}
