// colors
$yellow: #ffe600;
$gray-100: #333333;
$gray-200: #666666;
$gray-300: #999999;
$gray-400: #eeeeee;

// utils
.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.navbar {
  height: 42px;
  background-color: $yellow;
  padding: 10px;
  display: flex;
  justify-content: center;
  &__logo-meli {
    margin: 3px 25px 3px 0px;
  }
  &__input {
    position: relative;
    font-size: 18px;
    font-family: inherit;
    border-radius: 2px;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    height: 18px;
    padding: 10px 60px 10px 15px;
    border: 1.5px solid white;
    width: 60%;
    &:focus {
      outline: none;
    }
  }
  &__btn-search {
    cursor: pointer;
    background-color: $gray-400;
    position: relative;
    right: 5px;
    height: 40px;
    width: 43px;
    border: none;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    padding: 8px 10px;
  }
}

.cards {
  background-color: white;
  list-style: none;
  margin: 2rem 10rem;
  border-radius: 4px;
  padding: 0 2rem;
  &__loader {
    background-color: $gray-400;
  }
  &__item {
    cursor: pointer;
    border-bottom: 1px solid $gray-400;
    padding-bottom: 2rem;
    padding: 16px;
    &__picture {
      border-radius: 4px;
      height: 180px;
      width: 180px;
      margin: 16px;
      // border: 1px red solid;
    }
    &__info {
      // border: 1px red solid;
      text-align: left;
      width: 100%;

      &--price {
        margin: 0;
        padding-top: 32px;
        font-size: 24px;
        font-weight: 400;
      }
      &--title {
        font-size: 18px;
        padding-top: 32px;
        margin: 0;
      }
    }
    &__city {
      font-size: 12px;
      text-align: right;
      width: 16rem;
      color: #999999;
    }
  }
}
